{% extends 'base.html.twig' %}

{% block title %}Phase{% endblock %}

{% block body %}
    <h1>Phase</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ phase.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ phase.description }}</td>
            </tr>
            <tr>
                <th>Echeance</th>
                <td>{{ phase.echeance }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ phase.etat ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_phase_index') }}">back to list</a>

    <a href="{{ path('app_phase_edit', {'id': phase.id}) }}">edit</a>

    {{ include('phase/_delete_form.html.twig') }}
{% endblock %}
